@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
form, fieldset, input, textarea, p, blockquote, th, td {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

table {
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-weight: normal;
    font-style: normal;
}

strong {
    font-weight: bold;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

caption, th {
    text-align: left;

}

h1{
    font-weight: normal;
    font-size: 100%;
    margin: 0;
    padding: 0;
    color: #444;
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
}

/* Custom CSS
 * --------------------------------------- */
body {
    font-family: arial, helvetica;
    color: #333;
    color: rgba(0, 0, 0, 0.5);
}

.wrap {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    position: relative;
}

h1 {
    font-size: 8em;
}

p {
    font-size: 4em;
}


.intro p {
    width: 50%;
    margin: 0 auto;
    font-size: 1.5em;
}

.section {
    text-align: center;
}

#menu {

}

/* navbar */
.navbar-default{
    background:transparent;
    border: none;
}
.navbar-default .navbar-nav > .active{
    background: transparent;
    text-shadow: 1px 0px 1px white;

}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background: transparent;

}


#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: black; /* in case the video doesn't fit the whole page*/
    background-position: center center;
    background-size: contain;
    object-fit: cover; /*cover video background */
    z-index: 3;
}

#videoSection {
    overflow: hidden;
}

#videoSection .layer {
    position: absolute;
    z-index: 4;
    width: 100%;
    left: 0;
    top: 40%;

    /*
    * Preventing flicker on some browsers
    * See http://stackoverflow.com/a/36671466/1081396  or issue #183
    */
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

#videoSection h1, p {
    color: #ffffff;
    /*text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;*/
}

/*#videoSection h1:hover{*/

/*}*/

#onas1 {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ),
    url(imgs/pompa.jpg);
}

#onas2 {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ),
    url(imgs/uklad.jpg);
}


#onas3 {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ),
    url(imgs/oczyszczalnia.jpg);
}


#onas4 {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ),
    url(imgs/silnik.jpg);
}

#logoimg{
    width: 200px;
    height:auto;
}

.slide p {
    font-size: 2em;
    width: 60%;
    margin: auto;
    text-shadow: 5px 0px 10px black;

}

.avatar {
    width:300px;
    height: 300px;
    margin: 10px;
    border: 10px solid rgba(255,255,255,0.5);
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}

.kontakt i{
    color: white;
}
.kontakt h2{
    color: white;
    font-size: 3em;
}

.kontakt p{
    font-size: 2em;
}

#row {
    padding-top:30px;
    padding-bottom:30px;
    background-color: #63899d;
}

.icons{
    margin-top: 20px;
}

.icons i{
    margin: 20px;
}